<html>
    <head>
        <title></title>
    </head>
    <body>
        <h3><%= locals.title %></h3>
        <h2>Welcome to earth from template</h2>
        <button type="button"><a href="/teacher/home">Teacher</a> </button>
        <button type="button"><a href="/student/home">Student</a> </button>
    </body>
</html>